* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdf6ec;
}

/* Header design */
header {
  padding: 2rem, 1rem;
  background-color: tan;
}

#header-title {
  color: #4d2303;
  margin-left: 20px;
  margin-bottom: 5px;
  padding-top: 40px;
  text-align: left;
  font-family: "Niconne", sans-serif;
  font-size: 2.8rem;
  font-weight: 550;
  font-style: normal;
  letter-spacing: 2px;
}

.img-logo {
  display: block;
  margin: 0 auto;
  width: 180px;
  border-radius: 100px;
}

.header-intro {
  display: flex;
  font-family: "Niconne", sans-serif;
  font-size: 22px;
  font-weight: 900;
  text-align: left;
  color: #492000;
  margin-left: 50px;
  letter-spacing: 0.06rem;
}

/* nav-bar section */
nav,
ul {
  color: rgb(149, 92, 0);
  margin-right: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 850;
  padding: 2.6px;
  display: flex;
  justify-content: right;
  list-style: none;
  gap: 1.2rem;
}

nav ul li a {
  text-decoration: none;
  color: rgb(64, 39, 0);
}

nav ul li a:hover {
  background-color: rgb(140, 90, 3);
  padding: 4px;
  border-radius: 8px;
}
/*  */

/* MAIN CONTENT STYLING */

.about-us {
  display: flex;
  font-family: "Niconne", sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  color: rgb(121, 88, 45);
  justify-content: center;
  padding: 30px;
  letter-spacing: 0.2rem;
  margin-top: 80px;
}

.about-intro {
  display: flex;
  text-align: center;
  color: rgb(68, 38, 0);
  padding-inline: 20%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.8rem;
  letter-spacing: 0.08rem;
}
/* Product Images */
.image-heading {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: 50px;
  font-family: "Niconne", sans-serif;
  font-size: 3.5rem;
  font-weight: bolder;
  color: rgb(121, 88, 45);
}

.image-text {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-family: "Nunito Sans", serif;
    font-style: italic;
    color: rgb(121, 88, 45);
}

.media-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 16px;
  background-color: tan;
  border: px solid burlywood;
}

.media-item {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: 5px solid rgb(99, 43, 0);
  border-radius: 10px;
}

/*  */

/* CINNAMON ROLL LAYOUT */
.baking-style {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 50px;
  font-family: "Niconne", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  color: rgb(123, 93, 53);
  letter-spacing: 0.2rem;
}

.baking-style-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 300px;
  width: 100%;
  padding: 20px 0;
}

.cinnamon-roll {
  width: 150px;
  height: auto;
}

.cinnamon-roll-text {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  align-items: center;
  width: 140px;
  height: auto;
  padding: 8px;
}

/* figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  padding-right: 50px;
} */

/* ORGANIC ICON LAYOUT */
.organic-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 142px;
  height: auto;
}

.organic-text {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  align-items: center;
  width: 140px;
  height: auto;
  padding: 8px;
}

.baking-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 140px;
  height: auto;
}

.baking-text {
    margin-top: 10px;
   display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  font-weight: 800;
  align-items: center;
  width: 140px;
  height: auto;
  padding: 8px;
}
